*{
    margin: 0;
    padding: 0;
     text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    padding: 20px;
    height: 3rem;
    line-height: 5rem;
}

.choice{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    cursor: pointer;
    opacity: 0.8;
    transform: scale(1.1);
    transition: 0.3s;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 50px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 24px;
    gap: 40px;
}   
#user-score,
#computer-score{
    font-size: 32px;

}
#msg{
    margin-top: 40px;
    font-size: 28px;
    font-weight: bold;
    background-color: #081b31;
    color: white;
    padding: 10px;
    display: inline ;
    border-radius: 10px;
}